{% extends 'base.html' %}
{% block content %}
<section class="section colored" id="contact-us">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-text">
                    <div class="column is-4 is-offset-4">
                        <h3 class="title center-heading ">Add News</h3>
                        <div class="box">
                            <form method="POST">
                                <div class="field">
                                    <div class="control">
                                        <input class="input is-large" type="text" name="title" placeholder="title"
                                               autofocus="">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <input class="input is-large" type="text" name="body" placeholder="body"
                                               autofocus="">
                                    </div>
                                </div>
                                <button class="button is-block is-info is-large is-fullwidth">Add News</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}